.SocialBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SocialBar svg {
  margin-top: 2rem;
  background: #fff;
  padding: 0.75rem;
  border-radius: 50%;
}

.SocialBar svg:first-child {
  margin-top: 0;
  background: transparent;
  font-size: 3.75rem;
  padding: 0;
}
