@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&family=Orbitron&display=swap');

.main-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #150830,
    #03021b 20%,
    #03021b 80%,
    #150830
  );
  overflow: hidden;
  position: relative;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.container .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.container .right .right-bottom {
  text-align: right;
}

.container .right .right-bottom h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 6rem;
}

.container .right .right-bottom h4 {
  font-weight: 200;
}

.btn3 {
  width: 60px;
  height: 60px;
  top: 100px;
  left: 240px;
  transition-duration: 0.5s;
}
.btn3 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 0px;
  width: 60px;
  top: 30px;
  background-color: #fff;
}
.btn3 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  height: 6px;
  background-color: #fff;
  content: '';
  top: -10px;
}
.btn3 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #fff;
  content: '';
  top: 15px;
  right: 0;
}
.btn3.open .icon {
  transition-duration: 0.5s;
}
.btn3.open .icon:before {
  transform: rotateZ(135deg) scaleX(0.75) translate(13px, -13px);
}
.btn3.open .icon:after {
  transform: rotateZ(-135deg) scaleX(1.13) translate(11px, 0);
}
.btn3:hover {
  cursor: pointer;
}
