* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 1rem 0;
  border: 0.25px solid rgba(255, 255, 255, 0.25);
}

p {
  line-height: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}
